{% extends "base.html" %}
{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Field Details</h3>
    <div class="box">
        <form method="POST" action="/field_details/{{ num_fields }}">
            {% for i in range(num_fields) %}
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="field_name_{{i}}" placeholder="Field Name" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <select class="input is-large" name="field_type_{{i}}">
						<option value="BOOLEAN">True/False</option>
                        <option value="INT">Integer Value</option>
						<option value ="DECIMAL">Decimal Value</option>
                        <option value="VARCHAR(255)">Short Text(255)</option>
                        <option value="TEXT">Long Text</option>
                        <option value="DATE">Date</option>
						<option value="TIMESTAMP">Timestamp</option>
                        <option value="Email">Email</option>
                        <!-- Add other MySQL data types here -->
                    </select>
                </div>
            </div>
            {% endfor %}
            <button class="button is-block is-info is-large is-fullwidth">Create Table</button>
        </form>
    </div>
</div>
{% endblock %}
